body{
    background: linear-gradient(to right,rgb(50, 50, 187),rgb(140, 216, 169));
    /* width: 100%; */
    
}
h1{
    text-align: center;
    font-weight: 600;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(54, 6, 16);
    text-decoration: underline rgb(189, 166, 166);
    
}

.container{
    display: grid;
    
    /* align-items: center; */
    justify-items: center;
    /* justify-content: center; */
    background: linear-gradient(to right,rgb(100, 100, 100),rgb(236, 7, 7));
    /* width: 15em; */
    margin: 20px 6em;
    border-radius: 20px;

}
h3{
    color: rgba(0,0,0,0.8);

}
input{
    background: linear-gradient(to left,rgb(94, 94, 179),aliceblue);
}
.btn{
    border-radius: 10px;
    margin: 10px;
    color: rgb(19, 1, 36);
    background: linear-gradient(to right,rgb(94, 94, 179),aliceblue);
    font-weight: bolder;
    max-height: 25px;
    cursor: pointer;
    transition: all 0.5s;
}
.btn:hover{
    transform: scale(1.1);
}
.list{
    list-style: none;
    width: 100%;
}
.sub{
    display: flex;
    justify-content: stretch;
    align-items: center;
}
h4{
    margin: 10px;
    color: rgb(54, 6, 16);
    font-size: 1.4em;
}
